// ===========================
// Theme Colors and Tokens
// ===========================

$color_red_50_hex: #fde3e3;
$color_red_50: oklch(97.1% 0.013 17.38);
$color_red_100_hex: #ffc2c2;
$color_red_100: oklch(93.6% 0.032 17.717);
$color_red_200_hex: #ff9696;
$color_red_200: oklch(88.5% 0.062 18.334);
$color_red_300_hex: #ff5c5c;
$color_red_300: oklch(80.8% 0.114 19.571);
$color_red_400_hex: #ff2023;
$color_red_400: oklch(70.4% 0.191 22.216);
$color_red_500_hex: #f5060a;
$color_red_500: oklch(63.7% 0.237 25.331);
$color_red_600_hex: #cc0001;
$color_red_600: oklch(57.7% 0.245 27.325);
$color_red_700_hex: #880001;
$color_red_700: oklch(50.5% 0.213 27.518);
$color_red_800_hex: #580101;
$color_red_800: oklch(44.4% 0.177 26.899);
$color_red_900_hex: #390203;
$color_red_900: oklch(39.6% 0.141 25.723);
$color_red_950_hex: #100101;
$color_red_950: oklch(25.8% 0.092 26.042);
$color_orange_50_hex: #ffedd8;
$color_orange_50: oklch(98.0% 0.016 73.684);
$color_orange_100_hex: #ffd8a8;
$color_orange_100: oklch(95.4% 0.038 75.164);
$color_orange_200_hex: #ffac63;
$color_orange_200: oklch(90.1% 0.076 70.697);
$color_orange_300_hex: #ff7a24;
$color_orange_300: oklch(83.7% 0.128 66.29);
$color_orange_400_hex: #ff4000;
$color_orange_400: oklch(75.0% 0.183 55.934);
$color_orange_500_hex: #ff2400;
$color_orange_500: oklch(70.5% 0.213 47.604);
$color_orange_600_hex: #e91100;
$color_orange_600: oklch(64.6% 0.222 41.116);
$color_orange_700_hex: #960900;
$color_orange_700: oklch(55.3% 0.195 38.402);
$color_orange_800_hex: #590700;
$color_orange_800: oklch(47.0% 0.157 37.304);
$color_orange_900_hex: #350601;
$color_orange_900: oklch(40.8% 0.123 38.172);
$color_orange_950_hex: #0f0200;
$color_orange_950: oklch(26.6% 0.079 36.259);
$color_amber_50_hex: #fff6d3;
$color_amber_50: oklch(98.7% 0.022 95.277);
$color_amber_100_hex: #fde590;
$color_amber_100: oklch(96.2% 0.059 95.617);
$color_amber_200_hex: #fdc93c;
$color_amber_200: oklch(92.4% 0.12 95.746);
$color_amber_300_hex: #ffa407;
$color_amber_300: oklch(87.9% 0.169 91.605);
$color_amber_400_hex: #ff7c00;
$color_amber_400: oklch(82.8% 0.189 84.429);
$color_amber_500_hex: #fc5200;
$color_amber_500: oklch(76.9% 0.188 70.08);
$color_amber_600_hex: #c12a00;
$color_amber_600: oklch(66.6% 0.179 58.318);
$color_amber_700_hex: #7e1300;
$color_amber_700: oklch(55.5% 0.163 48.998);
$color_amber_800_hex: #4e0b00;
$color_amber_800: oklch(47.3% 0.137 46.201);
$color_amber_900_hex: #320800;
$color_amber_900: oklch(41.4% 0.112 45.904);
$color_amber_950_hex: #100200;
$color_amber_950: oklch(27.9% 0.077 45.635);
$color_yellow_50_hex: #fcf8ce;
$color_yellow_50: oklch(98.7% 0.026 102.212);
$color_yellow_100_hex: #fdf289;
$color_yellow_100: oklch(97.3% 0.071 103.193);
$color_yellow_200_hex: #fede3c;
$color_yellow_200: oklch(94.5% 0.129 101.54);
$color_yellow_300_hex: #ffbd04;
$color_yellow_300: oklch(90.5% 0.182 98.111);
$color_yellow_400_hex: #fb9200;
$color_yellow_400: oklch(85.2% 0.199 91.936);
$color_yellow_500_hex: #de7000;
$color_yellow_500: oklch(79.5% 0.184 86.047);
$color_yellow_600_hex: #a23e00;
$color_yellow_600: oklch(68.1% 0.162 75.834);
$color_yellow_700_hex: #611d00;
$color_yellow_700: oklch(55.4% 0.135 66.442);
$color_yellow_800_hex: #3f1200;
$color_yellow_800: oklch(47.6% 0.114 61.907);
$color_yellow_900_hex: #2c0c01;
$color_yellow_900: oklch(42.1% 0.095 57.708);
$color_yellow_950_hex: #0e0400;
$color_yellow_950: oklch(28.6% 0.066 53.813);
$color_lime_50_hex: #edfdcc;
$color_lime_50: oklch(98.6% 0.031 120.757);
$color_lime_100_hex: #d6f997;
$color_lime_100: oklch(96.7% 0.067 122.328);
$color_lime_200_hex: #aff351;
$color_lime_200: oklch(93.8% 0.127 124.321);
$color_lime_300_hex: #7fe615;
$color_lime_300: oklch(89.7% 0.196 126.665);
$color_lime_400_hex: #52ca00;
$color_lime_400: oklch(84.1% 0.238 128.85);
$color_lime_500_hex: #349e00;
$color_lime_500: oklch(76.8% 0.233 130.85);
$color_lime_600_hex: #1d6000;
$color_lime_600: oklch(64.8% 0.2 131.684);
$color_lime_700_hex: #113500;
$color_lime_700: oklch(53.2% 0.157 131.589);
$color_lime_800_hex: #0c2000;
$color_lime_800: oklch(45.3% 0.124 130.933);
$color_lime_900_hex: #091601;
$color_lime_900: oklch(40.5% 0.101 131.063);
$color_lime_950_hex: #030700;
$color_lime_950: oklch(27.4% 0.072 132.109);
$color_green_50_hex: #defae7;
$color_green_50: oklch(98.2% 0.018 155.826);
$color_green_100_hex: #b6f8cb;
$color_green_100: oklch(96.2% 0.044 156.743);
$color_green_200_hex: #7cef9f;
$color_green_200: oklch(92.5% 0.084 155.995);
$color_green_300_hex: #32e163;
$color_green_300: oklch(87.1% 0.15 154.449);
$color_green_400_hex: #00bd2b;
$color_green_400: oklch(79.2% 0.209 151.711);
$color_green_500_hex: #009415;
$color_green_500: oklch(72.3% 0.219 149.579);
$color_green_600_hex: #00610c;
$color_green_600: oklch(62.7% 0.194 149.214);
$color_green_700_hex: #003909;
$color_green_700: oklch(52.7% 0.154 150.069);
$color_green_800_hex: #002208;
$color_green_800: oklch(44.8% 0.119 151.328);
$color_green_900_hex: #011706;
$color_green_900: oklch(39.3% 0.095 152.535);
$color_green_950_hex: #000702;
$color_green_950: oklch(26.6% 0.065 152.934);
$color_emerald_50_hex: #d5fae9;
$color_emerald_50: oklch(97.9% 0.021 166.113);
$color_emerald_100_hex: #a1f4c7;
$color_emerald_100: oklch(95.0% 0.052 163.051);
$color_emerald_200_hex: #5fe6a0;
$color_emerald_200: oklch(90.5% 0.093 164.15);
$color_emerald_300_hex: #1dd075;
$color_emerald_300: oklch(84.5% 0.143 164.978);
$color_emerald_400_hex: #00a849;
$color_emerald_400: oklch(76.5% 0.177 163.223);
$color_emerald_500_hex: #008134;
$color_emerald_500: oklch(69.6% 0.17 162.48);
$color_emerald_600_hex: #005122;
$color_emerald_600: oklch(59.6% 0.145 163.225);
$color_emerald_700_hex: #003217;
$color_emerald_700: oklch(50.8% 0.118 165.612);
$color_emerald_800_hex: #001e0f;
$color_emerald_800: oklch(43.2% 0.095 166.913);
$color_emerald_900_hex: #00140b;
$color_emerald_900: oklch(37.8% 0.077 168.94);
$color_emerald_950_hex: #000604;
$color_emerald_950: oklch(26.2% 0.051 172.552);
$color_teal_50_hex: #dffbf4;
$color_teal_50: oklch(98.4% 0.014 180.72);
$color_teal_100_hex: #99f7e1;
$color_teal_100: oklch(95.3% 0.051 180.801);
$color_teal_200_hex: #4dedc6;
$color_teal_200: oklch(91.0% 0.096 180.426);
$color_teal_300_hex: #10d7a9;
$color_teal_300: oklch(85.5% 0.138 181.071);
$color_teal_400_hex: #00aa83;
$color_teal_400: oklch(77.7% 0.152 181.912);
$color_teal_500_hex: #007f63;
$color_teal_500: oklch(70.4% 0.14 182.503);
$color_teal_600_hex: #004e40;
$color_teal_600: oklch(60.0% 0.118 184.704);
$color_teal_700_hex: #003028;
$color_teal_700: oklch(51.1% 0.096 186.391);
$color_teal_800_hex: #001d1a;
$color_teal_800: oklch(43.7% 0.078 188.216);
$color_teal_900_hex: #011412;
$color_teal_900: oklch(38.6% 0.063 188.416);
$color_teal_950_hex: #000707;
$color_teal_950: oklch(27.7% 0.046 192.524);
$color_cyan_50_hex: #d6fdff;
$color_cyan_50: oklch(98.4% 0.019 200.873);
$color_cyan_100_hex: #9ef4fd;
$color_cyan_100: oklch(95.6% 0.045 203.388);
$color_cyan_200_hex: #5de6fa;
$color_cyan_200: oklch(91.7% 0.08 205.041);
$color_cyan_300_hex: #16d1fa;
$color_cyan_300: oklch(86.5% 0.127 207.078);
$color_cyan_400_hex: #00a6e3;
$color_cyan_400: oklch(78.9% 0.154 211.53);
$color_cyan_500_hex: #007ab4;
$color_cyan_500: oklch(71.5% 0.143 215.221);
$color_cyan_600_hex: #004a7b;
$color_cyan_600: oklch(60.9% 0.126 221.723);
$color_cyan_700_hex: #002d4c;
$color_cyan_700: oklch(52.0% 0.105 223.128);
$color_cyan_800_hex: #001d30;
$color_cyan_800: oklch(45.0% 0.085 224.283);
$color_cyan_900_hex: #011421;
$color_cyan_900: oklch(39.8% 0.07 227.392);
$color_cyan_950_hex: #00080f;
$color_cyan_950: oklch(30.2% 0.056 229.695);
$color_sky_50_hex: #ddf2ff;
$color_sky_50: oklch(97.7% 0.013 236.62);
$color_sky_100_hex: #bde2fe;
$color_sky_100: oklch(95.1% 0.026 236.824);
$color_sky_200_hex: #7acafd;
$color_sky_200: oklch(90.1% 0.058 230.902);
$color_sky_300_hex: #2ca8ff;
$color_sky_300: oklch(82.8% 0.111 230.318);
$color_sky_400_hex: #0080ff;
$color_sky_400: oklch(74.6% 0.16 232.661);
$color_sky_500_hex: #0061e7;
$color_sky_500: oklch(68.5% 0.169 237.323);
$color_sky_600_hex: #003ba3;
$color_sky_600: oklch(58.8% 0.158 241.966);
$color_sky_700_hex: #002464;
$color_sky_700: oklch(50.0% 0.134 242.749);
$color_sky_800_hex: #001940;
$color_sky_800: oklch(44.3% 0.11 240.79);
$color_sky_900_hex: #00112a;
$color_sky_900: oklch(39.1% 0.09 240.876);
$color_sky_950_hex: #000712;
$color_sky_950: oklch(29.3% 0.066 243.157);
$color_blue_50_hex: #dcebfe;
$color_blue_50: oklch(97.0% 0.014 254.604);
$color_blue_100_hex: #b4d2fd;
$color_blue_100: oklch(93.2% 0.032 255.585);
$color_blue_200_hex: #83b5ff;
$color_blue_200: oklch(88.2% 0.059 254.128);
$color_blue_300_hex: #458fff;
$color_blue_300: oklch(80.9% 0.105 251.813);
$color_blue_400_hex: #155cff;
$color_blue_400: oklch(70.7% 0.165 254.624);
$color_blue_500_hex: #0636ff;
$color_blue_500: oklch(62.3% 0.214 259.815);
$color_blue_600_hex: #021cf7;
$color_blue_600: oklch(54.6% 0.245 262.881);
$color_blue_700_hex: #0210ca;
$color_blue_700: oklch(48.8% 0.243 264.376);
$color_blue_800_hex: #030b7b;
$color_blue_800: oklch(42.4% 0.199 265.638);
$color_blue_900_hex: #030a45;
$color_blue_900: oklch(37.9% 0.146 265.522);
$color_blue_950_hex: #020518;
$color_blue_950: oklch(28.2% 0.091 267.935);
$color_indigo_50_hex: #dae2ff;
$color_indigo_50: oklch(96.2% 0.018 272.314);
$color_indigo_100_hex: #beccff;
$color_indigo_100: oklch(93.0% 0.034 272.788);
$color_indigo_200_hex: #91a4ff;
$color_indigo_200: oklch(87.0% 0.065 274.039);
$color_indigo_300_hex: #5d73ff;
$color_indigo_300: oklch(78.5% 0.115 274.713);
$color_indigo_400_hex: #343dff;
$color_indigo_400: oklch(67.3% 0.182 276.935);
$color_indigo_500_hex: #1f1dff;
$color_indigo_500: oklch(58.5% 0.233 277.117);
$color_indigo_600_hex: #140bec;
$color_indigo_600: oklch(51.1% 0.262 276.966);
$color_indigo_700_hex: #0e07ae;
$color_indigo_700: oklch(45.7% 0.24 277.023);
$color_indigo_800_hex: #0a0669;
$color_indigo_800: oklch(39.8% 0.195 277.366);
$color_indigo_900_hex: #08063c;
$color_indigo_900: oklch(35.9% 0.144 278.697);
$color_indigo_950_hex: #030313;
$color_indigo_950: oklch(25.7% 0.09 281.288);
$color_violet_50_hex: #e9e4ff;
$color_violet_50: oklch(96.9% 0.016 293.756);
$color_violet_100_hex: #d8cffd;
$color_violet_100: oklch(94.3% 0.029 294.588);
$color_violet_200_hex: #b8abff;
$color_violet_200: oklch(89.4% 0.057 293.283);
$color_violet_300_hex: #8d74ff;
$color_violet_300: oklch(81.1% 0.111 293.571);
$color_violet_400_hex: #623bff;
$color_violet_400: oklch(70.2% 0.183 293.541);
$color_violet_500_hex: #4515ff;
$color_violet_500: oklch(60.6% 0.25 292.717);
$color_violet_600_hex: #3704fd;
$color_violet_600: oklch(54.1% 0.281 293.009);
$color_violet_700_hex: #2901cc;
$color_violet_700: oklch(49.1% 0.27 292.581);
$color_violet_800_hex: #1c0187;
$color_violet_800: oklch(43.2% 0.232 292.759);
$color_violet_900_hex: #130252;
$color_violet_900: oklch(38.0% 0.189 293.745);
$color_violet_950_hex: #070123;
$color_violet_950: oklch(28.3% 0.141 291.089);
$color_purple_50_hex: #f4e9ff;
$color_purple_50: oklch(97.7% 0.014 308.299);
$color_purple_100_hex: #e4cdff;
$color_purple_100: oklch(94.6% 0.033 307.174);
$color_purple_200_hex: #d0a9ff;
$color_purple_200: oklch(90.2% 0.063 306.703);
$color_purple_300_hex: #b371ff;
$color_purple_300: oklch(82.7% 0.119 306.383);
$color_purple_400_hex: #8932ff;
$color_purple_400: oklch(71.4% 0.203 305.504);
$color_purple_500_hex: #6a10ff;
$color_purple_500: oklch(62.7% 0.265 303.9);
$color_purple_600_hex: #5001f4;
$color_purple_600: oklch(55.8% 0.288 302.321);
$color_purple_700_hex: #3900b4;
$color_purple_700: oklch(49.6% 0.265 301.924);
$color_purple_800_hex: #27016f;
$color_purple_800: oklch(43.8% 0.218 303.724);
$color_purple_900_hex: #1a0242;
$color_purple_900: oklch(38.1% 0.176 304.987);
$color_purple_950_hex: #0b0022;
$color_purple_950: oklch(29.1% 0.149 302.717);
$color_fuchsia_50_hex: #fae7fe;
$color_fuchsia_50: oklch(97.7% 0.017 320.058);
$color_fuchsia_100_hex: #f4cdff;
$color_fuchsia_100: oklch(95.2% 0.037 318.852);
$color_fuchsia_200_hex: #eba0ff;
$color_fuchsia_200: oklch(90.3% 0.076 319.62);
$color_fuchsia_300_hex: #e663ff;
$color_fuchsia_300: oklch(83.3% 0.145 321.434);
$color_fuchsia_400_hex: #d825ff;
$color_fuchsia_400: oklch(74.0% 0.238 322.16);
$color_fuchsia_500_hex: #c106f6;
$color_fuchsia_500: oklch(66.7% 0.295 322.15);
$color_fuchsia_600_hex: #9300bb;
$color_fuchsia_600: oklch(59.1% 0.293 322.896);
$color_fuchsia_700_hex: #640079;
$color_fuchsia_700: oklch(51.8% 0.253 323.949);
$color_fuchsia_800_hex: #41004c;
$color_fuchsia_800: oklch(45.2% 0.211 324.591);
$color_fuchsia_900_hex: #2b0230;
$color_fuchsia_900: oklch(40.1% 0.17 325.612);
$color_fuchsia_950_hex: #120014;
$color_fuchsia_950: oklch(29.3% 0.136 325.661);
$color_pink_50_hex: #fae2ef;
$color_pink_50: oklch(97.1% 0.014 343.198);
$color_pink_100_hex: #f8cbe5;
$color_pink_100: oklch(94.8% 0.028 342.258);
$color_pink_200_hex: #f89ece;
$color_pink_200: oklch(89.9% 0.061 343.231);
$color_pink_300_hex: #fc60ab;
$color_pink_300: oklch(82.3% 0.12 346.018);
$color_pink_400_hex: #f72077;
$color_pink_400: oklch(71.8% 0.202 349.761);
$color_pink_500_hex: #ec0853;
$color_pink_500: oklch(65.6% 0.241 354.308);
$color_pink_600_hex: #c9002e;
$color_pink_600: oklch(59.2% 0.249 0.584);
$color_pink_700_hex: #91001b;
$color_pink_700: oklch(52.5% 0.223 3.958);
$color_pink_800_hex: #5d0012;
$color_pink_800: oklch(45.9% 0.187 3.815);
$color_pink_900_hex: #3d010e;
$color_pink_900: oklch(40.8% 0.153 2.432);
$color_pink_950_hex: #150004;
$color_pink_950: oklch(28.4% 0.109 3.907);
$color_rose_50_hex: #fee0e2;
$color_rose_50: oklch(96.9% 0.015 12.422);
$color_rose_100_hex: #ffc5c9;
$color_rose_100: oklch(94.1% 0.03 12.58);
$color_rose_200_hex: #ff9aa5;
$color_rose_200: oklch(89.2% 0.058 10.001);
$color_rose_300_hex: #ff5a6b;
$color_rose_300: oklch(81.0% 0.117 11.638);
$color_rose_400_hex: #ff2035;
$color_rose_400: oklch(71.2% 0.194 13.428);
$color_rose_500_hex: #ff0418;
$color_rose_500: oklch(64.5% 0.246 16.439);
$color_rose_600_hex: #d7000d;
$color_rose_600: oklch(58.6% 0.253 17.585);
$color_rose_700_hex: #910009;
$color_rose_700: oklch(51.4% 0.222 16.935);
$color_rose_800_hex: #600009;
$color_rose_800: oklch(45.5% 0.188 13.697);
$color_rose_900_hex: #420109;
$color_rose_900: oklch(41.0% 0.159 10.272);
$color_rose_950_hex: #130002;
$color_rose_950: oklch(27.1% 0.105 12.094);
$color_slate_50_hex: #f0f4f7;
$color_slate_50: oklch(98.4% 0.003 247.858);
$color_slate_100_hex: #e0e9f2;
$color_slate_100: oklch(96.8% 0.007 247.896);
$color_slate_200_hex: #c2cedf;
$color_slate_200: oklch(92.9% 0.013 255.508);
$color_slate_300_hex: #97aac3;
$color_slate_300: oklch(86.9% 0.022 252.894);
$color_slate_400_hex: #475b7c;
$color_slate_400: oklch(70.4% 0.04 256.788);
$color_slate_500_hex: #1f2d45;
$color_slate_500: oklch(55.4% 0.046 257.417);
$color_slate_600_hex: #0f1726;
$color_slate_600: oklch(44.6% 0.043 257.281);
$color_slate_700_hex: #080e19;
$color_slate_700: oklch(37.2% 0.044 257.287);
$color_slate_800_hex: #03060c;
$color_slate_800: oklch(27.9% 0.041 260.031);
$color_slate_900_hex: #010206;
$color_slate_900: oklch(20.8% 0.042 265.755);
$color_slate_950_hex: #000002;
$color_slate_950: oklch(12.9% 0.042 264.695);
$color_gray_50_hex: #f2f4f7;
$color_gray_50: oklch(98.5% 0.002 247.839);
$color_gray_100_hex: #e4e7eb;
$color_gray_100: oklch(96.7% 0.003 264.542);
$color_gray_200_hex: #c8ccd4;
$color_gray_200: oklch(92.8% 0.006 264.531);
$color_gray_300_hex: #a2aab6;
$color_gray_300: oklch(87.2% 0.01 258.338);
$color_gray_400_hex: #515b6d;
$color_gray_400: oklch(70.7% 0.022 261.325);
$color_gray_500_hex: #252b39;
$color_gray_500: oklch(55.1% 0.027 264.364);
$color_gray_600_hex: #111721;
$color_gray_600: oklch(44.6% 0.03 256.802);
$color_gray_700_hex: #090d16;
$color_gray_700: oklch(37.3% 0.034 259.733);
$color_gray_800_hex: #03060a;
$color_gray_800: oklch(27.8% 0.033 256.848);
$color_gray_900_hex: #010205;
$color_gray_900: oklch(21.0% 0.034 264.665);
$color_gray_950_hex: #000102;
$color_gray_950: oklch(13.0% 0.028 261.692);
$color_zinc_50_hex: #f4f4f4;
$color_zinc_50: oklch(98.5% 0 0);
$color_zinc_100_hex: #e6e6e8;
$color_zinc_100: oklch(96.7% 0.001 286.375);
$color_zinc_200_hex: #c6c6cc;
$color_zinc_200: oklch(92.0% 0.004 286.32);
$color_zinc_300_hex: #a8a8b0;
$color_zinc_300: oklch(87.1% 0.006 286.286);
$color_zinc_400_hex: #585865;
$color_zinc_400: oklch(70.5% 0.015 286.067);
$color_zinc_500_hex: #2a2a33;
$color_zinc_500: oklch(55.2% 0.016 285.938);
$color_zinc_600_hex: #15151b;
$color_zinc_600: oklch(44.2% 0.017 285.786);
$color_zinc_700_hex: #0d0d10;
$color_zinc_700: oklch(37.0% 0.013 285.805);
$color_zinc_800_hex: #050506;
$color_zinc_800: oklch(27.4% 0.006 286.033);
$color_zinc_900_hex: #020203;
$color_zinc_900: oklch(21.0% 0.006 285.885);
$color_zinc_950_hex: #010101;
$color_zinc_950: oklch(14.1% 0.005 285.823);
$color_neutral_50_hex: #f4f4f4;
$color_neutral_50: oklch(98.5% 0 0);
$color_neutral_100_hex: #e9e9e9;
$color_neutral_100: oklch(97.0% 0 0);
$color_neutral_200_hex: #c8c8c8;
$color_neutral_200: oklch(92.2% 0 0);
$color_neutral_300_hex: #a8a8a8;
$color_neutral_300: oklch(87.0% 0 0);
$color_neutral_400_hex: #5a5a5a;
$color_neutral_400: oklch(70.8% 0 0);
$color_neutral_500_hex: #2c2c2c;
$color_neutral_500: oklch(55.6% 0 0);
$color_neutral_600_hex: #161616;
$color_neutral_600: oklch(43.9% 0 0);
$color_neutral_700_hex: #0d0d0d;
$color_neutral_700: oklch(37.1% 0 0);
$color_neutral_800_hex: #050505;
$color_neutral_800: oklch(26.9% 0 0);
$color_neutral_900_hex: #020202;
$color_neutral_900: oklch(20.5% 0 0);
$color_neutral_950_hex: #010101;
$color_neutral_950: oklch(14.5% 0 0);
$color_stone_50_hex: #f4f4f2;
$color_stone_50: oklch(98.5% 0.001 106.423);
$color_stone_100_hex: #e9e9e7;
$color_stone_100: oklch(97.0% 0.001 106.424);
$color_stone_200_hex: #ccc8c5;
$color_stone_200: oklch(92.3% 0.003 48.717);
$color_stone_300_hex: #aca6a2;
$color_stone_300: oklch(86.9% 0.005 56.366);
$color_stone_400_hex: #625954;
$color_stone_400: oklch(70.9% 0.01 56.259);
$color_stone_500_hex: #302a26;
$color_stone_500: oklch(55.3% 0.013 58.071);
$color_stone_600_hex: #191613;
$color_stone_600: oklch(44.4% 0.011 73.639);
$color_stone_700_hex: #0f0d0b;
$color_stone_700: oklch(37.4% 0.01 67.558);
$color_stone_800_hex: #060504;
$color_stone_800: oklch(26.8% 0.007 34.298);
$color_stone_900_hex: #030202;
$color_stone_900: oklch(21.6% 0.006 56.043);
$color_stone_950_hex: #010101;
$color_stone_950: oklch(14.7% 0.004 49.25);
$color_black_hex: #000;
$color_black: #000;
$color_white_hex: #fff;
$color_white: #fff;