@use "sass:string";
@use "../functions/_colorFunctions" as *;


$color-red-50-l: 0.971;
$color-red-50-c: 0.013;
$color-red-50-h: 17.38;
$color-red-100-l: 0.936;
$color-red-100-c: 0.032;
$color-red-100-h: 17.717;
$color-red-200-l: 0.885;
$color-red-200-c: 0.062;
$color-red-200-h: 18.334;
$color-red-300-l: 0.808;
$color-red-300-c: 0.114;
$color-red-300-h: 19.571;
$color-red-400-l: 0.704;
$color-red-400-c: 0.191;
$color-red-400-h: 22.216;
$color-red-500-l: 0.637;
$color-red-500-c: 0.237;
$color-red-500-h: 25.331;
$color-red-600-l: 0.577;
$color-red-600-c: 0.245;
$color-red-600-h: 27.325;
$color-red-700-l: 0.505;
$color-red-700-c: 0.213;
$color-red-700-h: 27.518;
$color-red-800-l: 0.444;
$color-red-800-c: 0.177;
$color-red-800-h: 26.899;
$color-red-900-l: 0.396;
$color-red-900-c: 0.141;
$color-red-900-h: 25.723;
$color-red-950-l: 0.258;
$color-red-950-c: 0.092;
$color-red-950-h: 26.042;
$color-orange-50-l: 0.98;
$color-orange-50-c: 0.016;
$color-orange-50-h: 73.684;
$color-orange-100-l: 0.954;
$color-orange-100-c: 0.038;
$color-orange-100-h: 75.164;
$color-orange-200-l: 0.901;
$color-orange-200-c: 0.076;
$color-orange-200-h: 70.697;
$color-orange-300-l: 0.837;
$color-orange-300-c: 0.128;
$color-orange-300-h: 66.29;
$color-orange-400-l: 0.75;
$color-orange-400-c: 0.183;
$color-orange-400-h: 55.934;
$color-orange-500-l: 0.705;
$color-orange-500-c: 0.213;
$color-orange-500-h: 47.604;
$color-orange-600-l: 0.646;
$color-orange-600-c: 0.222;
$color-orange-600-h: 41.116;
$color-orange-700-l: 0.553;
$color-orange-700-c: 0.195;
$color-orange-700-h: 38.402;
$color-orange-800-l: 0.47;
$color-orange-800-c: 0.157;
$color-orange-800-h: 37.304;
$color-orange-900-l: 0.408;
$color-orange-900-c: 0.123;
$color-orange-900-h: 38.172;
$color-orange-950-l: 0.266;
$color-orange-950-c: 0.079;
$color-orange-950-h: 36.259;
$color-amber-50-l: 0.987;
$color-amber-50-c: 0.022;
$color-amber-50-h: 95.277;
$color-amber-100-l: 0.962;
$color-amber-100-c: 0.059;
$color-amber-100-h: 95.617;
$color-amber-200-l: 0.924;
$color-amber-200-c: 0.12;
$color-amber-200-h: 95.746;
$color-amber-300-l: 0.879;
$color-amber-300-c: 0.169;
$color-amber-300-h: 91.605;
$color-amber-400-l: 0.828;
$color-amber-400-c: 0.189;
$color-amber-400-h: 84.429;
$color-amber-500-l: 0.769;
$color-amber-500-c: 0.188;
$color-amber-500-h: 70.08;
$color-amber-600-l: 0.666;
$color-amber-600-c: 0.179;
$color-amber-600-h: 58.318;
$color-amber-700-l: 0.555;
$color-amber-700-c: 0.163;
$color-amber-700-h: 48.998;
$color-amber-800-l: 0.473;
$color-amber-800-c: 0.137;
$color-amber-800-h: 46.201;
$color-amber-900-l: 0.414;
$color-amber-900-c: 0.112;
$color-amber-900-h: 45.904;
$color-amber-950-l: 0.279;
$color-amber-950-c: 0.077;
$color-amber-950-h: 45.635;
$color-yellow-50-l: 0.987;
$color-yellow-50-c: 0.026;
$color-yellow-50-h: 102.212;
$color-yellow-100-l: 0.973;
$color-yellow-100-c: 0.071;
$color-yellow-100-h: 103.193;
$color-yellow-200-l: 0.945;
$color-yellow-200-c: 0.129;
$color-yellow-200-h: 101.54;
$color-yellow-300-l: 0.905;
$color-yellow-300-c: 0.182;
$color-yellow-300-h: 98.111;
$color-yellow-400-l: 0.852;
$color-yellow-400-c: 0.199;
$color-yellow-400-h: 91.936;
$color-yellow-500-l: 0.795;
$color-yellow-500-c: 0.184;
$color-yellow-500-h: 86.047;
$color-yellow-600-l: 0.681;
$color-yellow-600-c: 0.162;
$color-yellow-600-h: 75.834;
$color-yellow-700-l: 0.554;
$color-yellow-700-c: 0.135;
$color-yellow-700-h: 66.442;
$color-yellow-800-l: 0.476;
$color-yellow-800-c: 0.114;
$color-yellow-800-h: 61.907;
$color-yellow-900-l: 0.421;
$color-yellow-900-c: 0.095;
$color-yellow-900-h: 57.708;
$color-yellow-950-l: 0.286;
$color-yellow-950-c: 0.066;
$color-yellow-950-h: 53.813;
$color-lime-50-l: 0.986;
$color-lime-50-c: 0.031;
$color-lime-50-h: 120.757;
$color-lime-100-l: 0.967;
$color-lime-100-c: 0.067;
$color-lime-100-h: 122.328;
$color-lime-200-l: 0.938;
$color-lime-200-c: 0.127;
$color-lime-200-h: 124.321;
$color-lime-300-l: 0.897;
$color-lime-300-c: 0.196;
$color-lime-300-h: 126.665;
$color-lime-400-l: 0.841;
$color-lime-400-c: 0.238;
$color-lime-400-h: 128.85;
$color-lime-500-l: 0.768;
$color-lime-500-c: 0.233;
$color-lime-500-h: 130.85;
$color-lime-600-l: 0.648;
$color-lime-600-c: 0.2;
$color-lime-600-h: 131.684;
$color-lime-700-l: 0.532;
$color-lime-700-c: 0.157;
$color-lime-700-h: 131.589;
$color-lime-800-l: 0.453;
$color-lime-800-c: 0.124;
$color-lime-800-h: 130.933;
$color-lime-900-l: 0.405;
$color-lime-900-c: 0.101;
$color-lime-900-h: 131.063;
$color-lime-950-l: 0.274;
$color-lime-950-c: 0.072;
$color-lime-950-h: 132.109;
$color-green-50-l: 0.982;
$color-green-50-c: 0.018;
$color-green-50-h: 155.826;
$color-green-100-l: 0.962;
$color-green-100-c: 0.044;
$color-green-100-h: 156.743;
$color-green-200-l: 0.925;
$color-green-200-c: 0.084;
$color-green-200-h: 155.995;
$color-green-300-l: 0.871;
$color-green-300-c: 0.15;
$color-green-300-h: 154.449;
$color-green-400-l: 0.792;
$color-green-400-c: 0.209;
$color-green-400-h: 151.711;
$color-green-500-l: 0.723;
$color-green-500-c: 0.219;
$color-green-500-h: 149.579;
$color-green-600-l: 0.627;
$color-green-600-c: 0.194;
$color-green-600-h: 149.214;
$color-green-700-l: 0.527;
$color-green-700-c: 0.154;
$color-green-700-h: 150.069;
$color-green-800-l: 0.448;
$color-green-800-c: 0.119;
$color-green-800-h: 151.328;
$color-green-900-l: 0.393;
$color-green-900-c: 0.095;
$color-green-900-h: 152.535;
$color-green-950-l: 0.266;
$color-green-950-c: 0.065;
$color-green-950-h: 152.934;
$color-emerald-50-l: 0.979;
$color-emerald-50-c: 0.021;
$color-emerald-50-h: 166.113;
$color-emerald-100-l: 0.95;
$color-emerald-100-c: 0.052;
$color-emerald-100-h: 163.051;
$color-emerald-200-l: 0.905;
$color-emerald-200-c: 0.093;
$color-emerald-200-h: 164.15;
$color-emerald-300-l: 0.845;
$color-emerald-300-c: 0.143;
$color-emerald-300-h: 164.978;
$color-emerald-400-l: 0.765;
$color-emerald-400-c: 0.177;
$color-emerald-400-h: 163.223;
$color-emerald-500-l: 0.696;
$color-emerald-500-c: 0.17;
$color-emerald-500-h: 162.48;
$color-emerald-600-l: 0.596;
$color-emerald-600-c: 0.145;
$color-emerald-600-h: 163.225;
$color-emerald-700-l: 0.508;
$color-emerald-700-c: 0.118;
$color-emerald-700-h: 165.612;
$color-emerald-800-l: 0.432;
$color-emerald-800-c: 0.095;
$color-emerald-800-h: 166.913;
$color-emerald-900-l: 0.378;
$color-emerald-900-c: 0.077;
$color-emerald-900-h: 168.94;
$color-emerald-950-l: 0.262;
$color-emerald-950-c: 0.051;
$color-emerald-950-h: 172.552;
$color-teal-50-l: 0.984;
$color-teal-50-c: 0.014;
$color-teal-50-h: 180.72;
$color-teal-100-l: 0.953;
$color-teal-100-c: 0.051;
$color-teal-100-h: 180.801;
$color-teal-200-l: 0.91;
$color-teal-200-c: 0.096;
$color-teal-200-h: 180.426;
$color-teal-300-l: 0.855;
$color-teal-300-c: 0.138;
$color-teal-300-h: 181.071;
$color-teal-400-l: 0.777;
$color-teal-400-c: 0.152;
$color-teal-400-h: 181.912;
$color-teal-500-l: 0.704;
$color-teal-500-c: 0.14;
$color-teal-500-h: 182.503;
$color-teal-600-l: 0.6;
$color-teal-600-c: 0.118;
$color-teal-600-h: 184.704;
$color-teal-700-l: 0.511;
$color-teal-700-c: 0.096;
$color-teal-700-h: 186.391;
$color-teal-800-l: 0.437;
$color-teal-800-c: 0.078;
$color-teal-800-h: 188.216;
$color-teal-900-l: 0.386;
$color-teal-900-c: 0.063;
$color-teal-900-h: 188.416;
$color-teal-950-l: 0.277;
$color-teal-950-c: 0.046;
$color-teal-950-h: 192.524;
$color-cyan-50-l: 0.984;
$color-cyan-50-c: 0.019;
$color-cyan-50-h: 200.873;
$color-cyan-100-l: 0.956;
$color-cyan-100-c: 0.045;
$color-cyan-100-h: 203.388;
$color-cyan-200-l: 0.917;
$color-cyan-200-c: 0.08;
$color-cyan-200-h: 205.041;
$color-cyan-300-l: 0.865;
$color-cyan-300-c: 0.127;
$color-cyan-300-h: 207.078;
$color-cyan-400-l: 0.789;
$color-cyan-400-c: 0.154;
$color-cyan-400-h: 211.53;
$color-cyan-500-l: 0.715;
$color-cyan-500-c: 0.143;
$color-cyan-500-h: 215.221;
$color-cyan-600-l: 0.609;
$color-cyan-600-c: 0.126;
$color-cyan-600-h: 221.723;
$color-cyan-700-l: 0.52;
$color-cyan-700-c: 0.105;
$color-cyan-700-h: 223.128;
$color-cyan-800-l: 0.45;
$color-cyan-800-c: 0.085;
$color-cyan-800-h: 224.283;
$color-cyan-900-l: 0.398;
$color-cyan-900-c: 0.07;
$color-cyan-900-h: 227.392;
$color-cyan-950-l: 0.302;
$color-cyan-950-c: 0.056;
$color-cyan-950-h: 229.695;
$color-sky-50-l: 0.977;
$color-sky-50-c: 0.013;
$color-sky-50-h: 236.62;
$color-sky-100-l: 0.951;
$color-sky-100-c: 0.026;
$color-sky-100-h: 236.824;
$color-sky-200-l: 0.901;
$color-sky-200-c: 0.058;
$color-sky-200-h: 230.902;
$color-sky-300-l: 0.828;
$color-sky-300-c: 0.111;
$color-sky-300-h: 230.318;
$color-sky-400-l: 0.746;
$color-sky-400-c: 0.16;
$color-sky-400-h: 232.661;
$color-sky-500-l: 0.685;
$color-sky-500-c: 0.169;
$color-sky-500-h: 237.323;
$color-sky-600-l: 0.588;
$color-sky-600-c: 0.158;
$color-sky-600-h: 241.966;
$color-sky-700-l: 0.5;
$color-sky-700-c: 0.134;
$color-sky-700-h: 242.749;
$color-sky-800-l: 0.443;
$color-sky-800-c: 0.11;
$color-sky-800-h: 240.79;
$color-sky-900-l: 0.391;
$color-sky-900-c: 0.09;
$color-sky-900-h: 240.876;
$color-sky-950-l: 0.293;
$color-sky-950-c: 0.066;
$color-sky-950-h: 243.157;
$color-blue-50-l: 0.97;
$color-blue-50-c: 0.014;
$color-blue-50-h: 254.604;
$color-blue-100-l: 0.932;
$color-blue-100-c: 0.032;
$color-blue-100-h: 255.585;
$color-blue-200-l: 0.882;
$color-blue-200-c: 0.059;
$color-blue-200-h: 254.128;
$color-blue-300-l: 0.809;
$color-blue-300-c: 0.105;
$color-blue-300-h: 251.813;
$color-blue-400-l: 0.707;
$color-blue-400-c: 0.165;
$color-blue-400-h: 254.624;
$color-blue-500-l: 0.623;
$color-blue-500-c: 0.214;
$color-blue-500-h: 259.815;
$color-blue-600-l: 0.546;
$color-blue-600-c: 0.245;
$color-blue-600-h: 262.881;
$color-blue-700-l: 0.488;
$color-blue-700-c: 0.243;
$color-blue-700-h: 264.376;
$color-blue-800-l: 0.424;
$color-blue-800-c: 0.199;
$color-blue-800-h: 265.638;
$color-blue-900-l: 0.379;
$color-blue-900-c: 0.146;
$color-blue-900-h: 265.522;
$color-blue-950-l: 0.282;
$color-blue-950-c: 0.091;
$color-blue-950-h: 267.935;
$color-indigo-50-l: 0.962;
$color-indigo-50-c: 0.018;
$color-indigo-50-h: 272.314;
$color-indigo-100-l: 0.93;
$color-indigo-100-c: 0.034;
$color-indigo-100-h: 272.788;
$color-indigo-200-l: 0.87;
$color-indigo-200-c: 0.065;
$color-indigo-200-h: 274.039;
$color-indigo-300-l: 0.785;
$color-indigo-300-c: 0.115;
$color-indigo-300-h: 274.713;
$color-indigo-400-l: 0.673;
$color-indigo-400-c: 0.182;
$color-indigo-400-h: 276.935;
$color-indigo-500-l: 0.585;
$color-indigo-500-c: 0.233;
$color-indigo-500-h: 277.117;
$color-indigo-600-l: 0.511;
$color-indigo-600-c: 0.262;
$color-indigo-600-h: 276.966;
$color-indigo-700-l: 0.457;
$color-indigo-700-c: 0.24;
$color-indigo-700-h: 277.023;
$color-indigo-800-l: 0.398;
$color-indigo-800-c: 0.195;
$color-indigo-800-h: 277.366;
$color-indigo-900-l: 0.359;
$color-indigo-900-c: 0.144;
$color-indigo-900-h: 278.697;
$color-indigo-950-l: 0.257;
$color-indigo-950-c: 0.09;
$color-indigo-950-h: 281.288;
$color-violet-50-l: 0.969;
$color-violet-50-c: 0.016;
$color-violet-50-h: 293.756;
$color-violet-100-l: 0.943;
$color-violet-100-c: 0.029;
$color-violet-100-h: 294.588;
$color-violet-200-l: 0.894;
$color-violet-200-c: 0.057;
$color-violet-200-h: 293.283;
$color-violet-300-l: 0.811;
$color-violet-300-c: 0.111;
$color-violet-300-h: 293.571;
$color-violet-400-l: 0.702;
$color-violet-400-c: 0.183;
$color-violet-400-h: 293.541;
$color-violet-500-l: 0.606;
$color-violet-500-c: 0.25;
$color-violet-500-h: 292.717;
$color-violet-600-l: 0.541;
$color-violet-600-c: 0.281;
$color-violet-600-h: 293.009;
$color-violet-700-l: 0.491;
$color-violet-700-c: 0.27;
$color-violet-700-h: 292.581;
$color-violet-800-l: 0.432;
$color-violet-800-c: 0.232;
$color-violet-800-h: 292.759;
$color-violet-900-l: 0.38;
$color-violet-900-c: 0.189;
$color-violet-900-h: 293.745;
$color-violet-950-l: 0.283;
$color-violet-950-c: 0.141;
$color-violet-950-h: 291.089;
$color-purple-50-l: 0.977;
$color-purple-50-c: 0.014;
$color-purple-50-h: 308.299;
$color-purple-100-l: 0.946;
$color-purple-100-c: 0.033;
$color-purple-100-h: 307.174;
$color-purple-200-l: 0.902;
$color-purple-200-c: 0.063;
$color-purple-200-h: 306.703;
$color-purple-300-l: 0.827;
$color-purple-300-c: 0.119;
$color-purple-300-h: 306.383;
$color-purple-400-l: 0.714;
$color-purple-400-c: 0.203;
$color-purple-400-h: 305.504;
$color-purple-500-l: 0.627;
$color-purple-500-c: 0.265;
$color-purple-500-h: 303.9;
$color-purple-600-l: 0.558;
$color-purple-600-c: 0.288;
$color-purple-600-h: 302.321;
$color-purple-700-l: 0.496;
$color-purple-700-c: 0.265;
$color-purple-700-h: 301.924;
$color-purple-800-l: 0.438;
$color-purple-800-c: 0.218;
$color-purple-800-h: 303.724;
$color-purple-900-l: 0.381;
$color-purple-900-c: 0.176;
$color-purple-900-h: 304.987;
$color-purple-950-l: 0.291;
$color-purple-950-c: 0.149;
$color-purple-950-h: 302.717;
$color-fuchsia-50-l: 0.977;
$color-fuchsia-50-c: 0.017;
$color-fuchsia-50-h: 320.058;
$color-fuchsia-100-l: 0.952;
$color-fuchsia-100-c: 0.037;
$color-fuchsia-100-h: 318.852;
$color-fuchsia-200-l: 0.903;
$color-fuchsia-200-c: 0.076;
$color-fuchsia-200-h: 319.62;
$color-fuchsia-300-l: 0.833;
$color-fuchsia-300-c: 0.145;
$color-fuchsia-300-h: 321.434;
$color-fuchsia-400-l: 0.74;
$color-fuchsia-400-c: 0.238;
$color-fuchsia-400-h: 322.16;
$color-fuchsia-500-l: 0.667;
$color-fuchsia-500-c: 0.295;
$color-fuchsia-500-h: 322.15;
$color-fuchsia-600-l: 0.591;
$color-fuchsia-600-c: 0.293;
$color-fuchsia-600-h: 322.896;
$color-fuchsia-700-l: 0.518;
$color-fuchsia-700-c: 0.253;
$color-fuchsia-700-h: 323.949;
$color-fuchsia-800-l: 0.452;
$color-fuchsia-800-c: 0.211;
$color-fuchsia-800-h: 324.591;
$color-fuchsia-900-l: 0.401;
$color-fuchsia-900-c: 0.17;
$color-fuchsia-900-h: 325.612;
$color-fuchsia-950-l: 0.293;
$color-fuchsia-950-c: 0.136;
$color-fuchsia-950-h: 325.661;
$color-pink-50-l: 0.971;
$color-pink-50-c: 0.014;
$color-pink-50-h: 343.198;
$color-pink-100-l: 0.948;
$color-pink-100-c: 0.028;
$color-pink-100-h: 342.258;
$color-pink-200-l: 0.899;
$color-pink-200-c: 0.061;
$color-pink-200-h: 343.231;
$color-pink-300-l: 0.823;
$color-pink-300-c: 0.12;
$color-pink-300-h: 346.018;
$color-pink-400-l: 0.718;
$color-pink-400-c: 0.202;
$color-pink-400-h: 349.761;
$color-pink-500-l: 0.656;
$color-pink-500-c: 0.241;
$color-pink-500-h: 354.308;
$color-pink-600-l: 0.592;
$color-pink-600-c: 0.249;
$color-pink-600-h: 0.584;
$color-pink-700-l: 0.525;
$color-pink-700-c: 0.223;
$color-pink-700-h: 3.958;
$color-pink-800-l: 0.459;
$color-pink-800-c: 0.187;
$color-pink-800-h: 3.815;
$color-pink-900-l: 0.408;
$color-pink-900-c: 0.153;
$color-pink-900-h: 2.432;
$color-pink-950-l: 0.284;
$color-pink-950-c: 0.109;
$color-pink-950-h: 3.907;
$color-rose-50-l: 0.969;
$color-rose-50-c: 0.015;
$color-rose-50-h: 12.422;
$color-rose-100-l: 0.941;
$color-rose-100-c: 0.03;
$color-rose-100-h: 12.58;
$color-rose-200-l: 0.892;
$color-rose-200-c: 0.058;
$color-rose-200-h: 10.001;
$color-rose-300-l: 0.81;
$color-rose-300-c: 0.117;
$color-rose-300-h: 11.638;
$color-rose-400-l: 0.712;
$color-rose-400-c: 0.194;
$color-rose-400-h: 13.428;
$color-rose-500-l: 0.645;
$color-rose-500-c: 0.246;
$color-rose-500-h: 16.439;
$color-rose-600-l: 0.586;
$color-rose-600-c: 0.253;
$color-rose-600-h: 17.585;
$color-rose-700-l: 0.514;
$color-rose-700-c: 0.222;
$color-rose-700-h: 16.935;
$color-rose-800-l: 0.455;
$color-rose-800-c: 0.188;
$color-rose-800-h: 13.697;
$color-rose-900-l: 0.41;
$color-rose-900-c: 0.159;
$color-rose-900-h: 10.272;
$color-rose-950-l: 0.271;
$color-rose-950-c: 0.105;
$color-rose-950-h: 12.094;
$color-slate-50-l: 0.984;
$color-slate-50-c: 0.003;
$color-slate-50-h: 247.858;
$color-slate-100-l: 0.968;
$color-slate-100-c: 0.007;
$color-slate-100-h: 247.896;
$color-slate-200-l: 0.929;
$color-slate-200-c: 0.013;
$color-slate-200-h: 255.508;
$color-slate-300-l: 0.869;
$color-slate-300-c: 0.022;
$color-slate-300-h: 252.894;
$color-slate-400-l: 0.704;
$color-slate-400-c: 0.04;
$color-slate-400-h: 256.788;
$color-slate-500-l: 0.554;
$color-slate-500-c: 0.046;
$color-slate-500-h: 257.417;
$color-slate-600-l: 0.446;
$color-slate-600-c: 0.043;
$color-slate-600-h: 257.281;
$color-slate-700-l: 0.372;
$color-slate-700-c: 0.044;
$color-slate-700-h: 257.287;
$color-slate-800-l: 0.279;
$color-slate-800-c: 0.041;
$color-slate-800-h: 260.031;
$color-slate-900-l: 0.208;
$color-slate-900-c: 0.042;
$color-slate-900-h: 265.755;
$color-slate-950-l: 0.129;
$color-slate-950-c: 0.042;
$color-slate-950-h: 264.695;
$color-gray-50-l: 0.985;
$color-gray-50-c: 0.002;
$color-gray-50-h: 247.839;
$color-gray-100-l: 0.967;
$color-gray-100-c: 0.003;
$color-gray-100-h: 264.542;
$color-gray-200-l: 0.928;
$color-gray-200-c: 0.006;
$color-gray-200-h: 264.531;
$color-gray-300-l: 0.872;
$color-gray-300-c: 0.01;
$color-gray-300-h: 258.338;
$color-gray-400-l: 0.707;
$color-gray-400-c: 0.022;
$color-gray-400-h: 261.325;
$color-gray-500-l: 0.551;
$color-gray-500-c: 0.027;
$color-gray-500-h: 264.364;
$color-gray-600-l: 0.446;
$color-gray-600-c: 0.03;
$color-gray-600-h: 256.802;
$color-gray-700-l: 0.373;
$color-gray-700-c: 0.034;
$color-gray-700-h: 259.733;
$color-gray-800-l: 0.278;
$color-gray-800-c: 0.033;
$color-gray-800-h: 256.848;
$color-gray-900-l: 0.21;
$color-gray-900-c: 0.034;
$color-gray-900-h: 264.665;
$color-gray-950-l: 0.13;
$color-gray-950-c: 0.028;
$color-gray-950-h: 261.692;
$color-zinc-50-l: 0.985;
$color-zinc-50-c: 0;
$color-zinc-50-h: 0;
$color-zinc-100-l: 0.967;
$color-zinc-100-c: 0.001;
$color-zinc-100-h: 286.375;
$color-zinc-200-l: 0.92;
$color-zinc-200-c: 0.004;
$color-zinc-200-h: 286.32;
$color-zinc-300-l: 0.871;
$color-zinc-300-c: 0.006;
$color-zinc-300-h: 286.286;
$color-zinc-400-l: 0.705;
$color-zinc-400-c: 0.015;
$color-zinc-400-h: 286.067;
$color-zinc-500-l: 0.552;
$color-zinc-500-c: 0.016;
$color-zinc-500-h: 285.938;
$color-zinc-600-l: 0.442;
$color-zinc-600-c: 0.017;
$color-zinc-600-h: 285.786;
$color-zinc-700-l: 0.37;
$color-zinc-700-c: 0.013;
$color-zinc-700-h: 285.805;
$color-zinc-800-l: 0.274;
$color-zinc-800-c: 0.006;
$color-zinc-800-h: 286.033;
$color-zinc-900-l: 0.21;
$color-zinc-900-c: 0.006;
$color-zinc-900-h: 285.885;
$color-zinc-950-l: 0.141;
$color-zinc-950-c: 0.005;
$color-zinc-950-h: 285.823;
$color-neutral-50-l: 0.985;
$color-neutral-50-c: 0;
$color-neutral-50-h: 0;
$color-neutral-100-l: 0.97;
$color-neutral-100-c: 0;
$color-neutral-100-h: 0;
$color-neutral-200-l: 0.922;
$color-neutral-200-c: 0;
$color-neutral-200-h: 0;
$color-neutral-300-l: 0.87;
$color-neutral-300-c: 0;
$color-neutral-300-h: 0;
$color-neutral-400-l: 0.708;
$color-neutral-400-c: 0;
$color-neutral-400-h: 0;
$color-neutral-500-l: 0.556;
$color-neutral-500-c: 0;
$color-neutral-500-h: 0;
$color-neutral-600-l: 0.439;
$color-neutral-600-c: 0;
$color-neutral-600-h: 0;
$color-neutral-700-l: 0.371;
$color-neutral-700-c: 0;
$color-neutral-700-h: 0;
$color-neutral-800-l: 0.269;
$color-neutral-800-c: 0;
$color-neutral-800-h: 0;
$color-neutral-900-l: 0.205;
$color-neutral-900-c: 0;
$color-neutral-900-h: 0;
$color-neutral-950-l: 0.145;
$color-neutral-950-c: 0;
$color-neutral-950-h: 0;
$color-stone-50-l: 0.985;
$color-stone-50-c: 0.001;
$color-stone-50-h: 106.423;
$color-stone-100-l: 0.97;
$color-stone-100-c: 0.001;
$color-stone-100-h: 106.424;
$color-stone-200-l: 0.923;
$color-stone-200-c: 0.003;
$color-stone-200-h: 48.717;
$color-stone-300-l: 0.869;
$color-stone-300-c: 0.005;
$color-stone-300-h: 56.366;
$color-stone-400-l: 0.709;
$color-stone-400-c: 0.01;
$color-stone-400-h: 56.259;
$color-stone-500-l: 0.553;
$color-stone-500-c: 0.013;
$color-stone-500-h: 58.071;
$color-stone-600-l: 0.444;
$color-stone-600-c: 0.011;
$color-stone-600-h: 73.639;
$color-stone-700-l: 0.374;
$color-stone-700-c: 0.01;
$color-stone-700-h: 67.558;
$color-stone-800-l: 0.268;
$color-stone-800-c: 0.007;
$color-stone-800-h: 34.298;
$color-stone-900-l: 0.216;
$color-stone-900-c: 0.006;
$color-stone-900-h: 56.043;
$color-stone-950-l: 0.147;
$color-stone-950-c: 0.004;
$color-stone-950-h: 49.25;



$color-red-50: oklch($color-red-50-l,$color-red-50-c,$color-red-50-h);
$color-red-100: oklch($color-red-100-l,$color-red-100-c,$color-red-100-h);
$color-red-200: oklch($color-red-200-l,$color-red-200-c,$color-red-200-h);
$color-red-300: oklch($color-red-300-l,$color-red-300-c,$color-red-300-h);
$color-red-400: oklch($color-red-400-l,$color-red-400-c,$color-red-400-h);
$color-red-500: oklch($color-red-500-l,$color-red-500-c,$color-red-500-h);
$color-red-600: oklch($color-red-600-l,$color-red-600-c,$color-red-600-h);
$color-red-700: oklch($color-red-700-l,$color-red-700-c,$color-red-700-h);
$color-red-800: oklch($color-red-800-l,$color-red-800-c,$color-red-800-h);
$color-red-900: oklch($color-red-900-l,$color-red-900-c,$color-red-900-h);
$color-red-950: oklch($color-red-950-l,$color-red-950-c,$color-red-950-h);
$color-orange-50: oklch($color-orange-50-l,$color-orange-50-c,$color-orange-50-h);
$color-orange-100: oklch($color-orange-100-l,$color-orange-100-c,$color-orange-100-h);
$color-orange-200: oklch($color-orange-200-l,$color-orange-200-c,$color-orange-200-h);
$color-orange-300: oklch($color-orange-300-l,$color-orange-300-c,$color-orange-300-h);
$color-orange-400: oklch($color-orange-400-l,$color-orange-400-c,$color-orange-400-h);
$color-orange-500: oklch($color-orange-500-l,$color-orange-500-c,$color-orange-500-h);
$color-orange-600: oklch($color-orange-600-l,$color-orange-600-c,$color-orange-600-h);
$color-orange-700: oklch($color-orange-700-l,$color-orange-700-c,$color-orange-700-h);
$color-orange-800: oklch($color-orange-800-l,$color-orange-800-c,$color-orange-800-h);
$color-orange-900: oklch($color-orange-900-l,$color-orange-900-c,$color-orange-900-h);
$color-orange-950: oklch($color-orange-950-l,$color-orange-950-c,$color-orange-950-h);
$color-amber-50: oklch($color-amber-50-l,$color-amber-50-c,$color-amber-50-h);
$color-amber-100: oklch($color-amber-100-l,$color-amber-100-c,$color-amber-100-h);
$color-amber-200: oklch($color-amber-200-l,$color-amber-200-c,$color-amber-200-h);
$color-amber-300: oklch($color-amber-300-l,$color-amber-300-c,$color-amber-300-h);
$color-amber-400: oklch($color-amber-400-l,$color-amber-400-c,$color-amber-400-h);
$color-amber-500: oklch($color-amber-500-l,$color-amber-500-c,$color-amber-500-h);
$color-amber-600: oklch($color-amber-600-l,$color-amber-600-c,$color-amber-600-h);
$color-amber-700: oklch($color-amber-700-l,$color-amber-700-c,$color-amber-700-h);
$color-amber-800: oklch($color-amber-800-l,$color-amber-800-c,$color-amber-800-h);
$color-amber-900: oklch($color-amber-900-l,$color-amber-900-c,$color-amber-900-h);
$color-amber-950: oklch($color-amber-950-l,$color-amber-950-c,$color-amber-950-h);
$color-yellow-50: oklch($color-yellow-50-l,$color-yellow-50-c,$color-yellow-50-h);
$color-yellow-100: oklch($color-yellow-100-l,$color-yellow-100-c,$color-yellow-100-h);
$color-yellow-200: oklch($color-yellow-200-l,$color-yellow-200-c,$color-yellow-200-h);
$color-yellow-300: oklch($color-yellow-300-l,$color-yellow-300-c,$color-yellow-300-h);
$color-yellow-400: oklch($color-yellow-400-l,$color-yellow-400-c,$color-yellow-400-h);
$color-yellow-500: oklch($color-yellow-500-l,$color-yellow-500-c,$color-yellow-500-h);
$color-yellow-600: oklch($color-yellow-600-l,$color-yellow-600-c,$color-yellow-600-h);
$color-yellow-700: oklch($color-yellow-700-l,$color-yellow-700-c,$color-yellow-700-h);
$color-yellow-800: oklch($color-yellow-800-l,$color-yellow-800-c,$color-yellow-800-h);
$color-yellow-900: oklch($color-yellow-900-l,$color-yellow-900-c,$color-yellow-900-h);
$color-yellow-950: oklch($color-yellow-950-l,$color-yellow-950-c,$color-yellow-950-h);
$color-lime-50: oklch($color-lime-50-l,$color-lime-50-c,$color-lime-50-h);
$color-lime-100: oklch($color-lime-100-l,$color-lime-100-c,$color-lime-100-h);
$color-lime-200: oklch($color-lime-200-l,$color-lime-200-c,$color-lime-200-h);
$color-lime-300: oklch($color-lime-300-l,$color-lime-300-c,$color-lime-300-h);
$color-lime-400: oklch($color-lime-400-l,$color-lime-400-c,$color-lime-400-h);
$color-lime-500: oklch($color-lime-500-l,$color-lime-500-c,$color-lime-500-h);
$color-lime-600: oklch($color-lime-600-l,$color-lime-600-c,$color-lime-600-h);
$color-lime-700: oklch($color-lime-700-l,$color-lime-700-c,$color-lime-700-h);
$color-lime-800: oklch($color-lime-800-l,$color-lime-800-c,$color-lime-800-h);
$color-lime-900: oklch($color-lime-900-l,$color-lime-900-c,$color-lime-900-h);
$color-lime-950: oklch($color-lime-950-l,$color-lime-950-c,$color-lime-950-h);
$color-green-50: oklch($color-green-50-l,$color-green-50-c,$color-green-50-h);
$color-green-100: oklch($color-green-100-l,$color-green-100-c,$color-green-100-h);
$color-green-200: oklch($color-green-200-l,$color-green-200-c,$color-green-200-h);
$color-green-300: oklch($color-green-300-l,$color-green-300-c,$color-green-300-h);
$color-green-400: oklch($color-green-400-l,$color-green-400-c,$color-green-400-h);
$color-green-500: oklch($color-green-500-l,$color-green-500-c,$color-green-500-h);
$color-green-600: oklch($color-green-600-l,$color-green-600-c,$color-green-600-h);
$color-green-700: oklch($color-green-700-l,$color-green-700-c,$color-green-700-h);
$color-green-800: oklch($color-green-800-l,$color-green-800-c,$color-green-800-h);
$color-green-900: oklch($color-green-900-l,$color-green-900-c,$color-green-900-h);
$color-green-950: oklch($color-green-950-l,$color-green-950-c,$color-green-950-h);
$color-emerald-50: oklch($color-emerald-50-l,$color-emerald-50-c,$color-emerald-50-h);
$color-emerald-100: oklch($color-emerald-100-l,$color-emerald-100-c,$color-emerald-100-h);
$color-emerald-200: oklch($color-emerald-200-l,$color-emerald-200-c,$color-emerald-200-h);
$color-emerald-300: oklch($color-emerald-300-l,$color-emerald-300-c,$color-emerald-300-h);
$color-emerald-400: oklch($color-emerald-400-l,$color-emerald-400-c,$color-emerald-400-h);
$color-emerald-500: oklch($color-emerald-500-l,$color-emerald-500-c,$color-emerald-500-h);
$color-emerald-600: oklch($color-emerald-600-l,$color-emerald-600-c,$color-emerald-600-h);
$color-emerald-700: oklch($color-emerald-700-l,$color-emerald-700-c,$color-emerald-700-h);
$color-emerald-800: oklch($color-emerald-800-l,$color-emerald-800-c,$color-emerald-800-h);
$color-emerald-900: oklch($color-emerald-900-l,$color-emerald-900-c,$color-emerald-900-h);
$color-emerald-950: oklch($color-emerald-950-l,$color-emerald-950-c,$color-emerald-950-h);
$color-teal-50: oklch($color-teal-50-l,$color-teal-50-c,$color-teal-50-h);
$color-teal-100: oklch($color-teal-100-l,$color-teal-100-c,$color-teal-100-h);
$color-teal-200: oklch($color-teal-200-l,$color-teal-200-c,$color-teal-200-h);
$color-teal-300: oklch($color-teal-300-l,$color-teal-300-c,$color-teal-300-h);
$color-teal-400: oklch($color-teal-400-l,$color-teal-400-c,$color-teal-400-h);
$color-teal-500: oklch($color-teal-500-l,$color-teal-500-c,$color-teal-500-h);
$color-teal-600: oklch($color-teal-600-l,$color-teal-600-c,$color-teal-600-h);
$color-teal-700: oklch($color-teal-700-l,$color-teal-700-c,$color-teal-700-h);
$color-teal-800: oklch($color-teal-800-l,$color-teal-800-c,$color-teal-800-h);
$color-teal-900: oklch($color-teal-900-l,$color-teal-900-c,$color-teal-900-h);
$color-teal-950: oklch($color-teal-950-l,$color-teal-950-c,$color-teal-950-h);
$color-cyan-50: oklch($color-cyan-50-l,$color-cyan-50-c,$color-cyan-50-h);
$color-cyan-100: oklch($color-cyan-100-l,$color-cyan-100-c,$color-cyan-100-h);
$color-cyan-200: oklch($color-cyan-200-l,$color-cyan-200-c,$color-cyan-200-h);
$color-cyan-300: oklch($color-cyan-300-l,$color-cyan-300-c,$color-cyan-300-h);
$color-cyan-400: oklch($color-cyan-400-l,$color-cyan-400-c,$color-cyan-400-h);
$color-cyan-500: oklch($color-cyan-500-l,$color-cyan-500-c,$color-cyan-500-h);
$color-cyan-600: oklch($color-cyan-600-l,$color-cyan-600-c,$color-cyan-600-h);
$color-cyan-700: oklch($color-cyan-700-l,$color-cyan-700-c,$color-cyan-700-h);
$color-cyan-800: oklch($color-cyan-800-l,$color-cyan-800-c,$color-cyan-800-h);
$color-cyan-900: oklch($color-cyan-900-l,$color-cyan-900-c,$color-cyan-900-h);
$color-cyan-950: oklch($color-cyan-950-l,$color-cyan-950-c,$color-cyan-950-h);
$color-sky-50: oklch($color-sky-50-l,$color-sky-50-c,$color-sky-50-h);
$color-sky-100: oklch($color-sky-100-l,$color-sky-100-c,$color-sky-100-h);
$color-sky-200: oklch($color-sky-200-l,$color-sky-200-c,$color-sky-200-h);
$color-sky-300: oklch($color-sky-300-l,$color-sky-300-c,$color-sky-300-h);
$color-sky-400: oklch($color-sky-400-l,$color-sky-400-c,$color-sky-400-h);
$color-sky-500: oklch($color-sky-500-l,$color-sky-500-c,$color-sky-500-h);
$color-sky-600: oklch($color-sky-600-l,$color-sky-600-c,$color-sky-600-h);
$color-sky-700: oklch($color-sky-700-l,$color-sky-700-c,$color-sky-700-h);
$color-sky-800: oklch($color-sky-800-l,$color-sky-800-c,$color-sky-800-h);
$color-sky-900: oklch($color-sky-900-l,$color-sky-900-c,$color-sky-900-h);
$color-sky-950: oklch($color-sky-950-l,$color-sky-950-c,$color-sky-950-h);
$color-blue-50: oklch($color-blue-50-l,$color-blue-50-c,$color-blue-50-h);
$color-blue-100: oklch($color-blue-100-l,$color-blue-100-c,$color-blue-100-h);
$color-blue-200: oklch($color-blue-200-l,$color-blue-200-c,$color-blue-200-h);
$color-blue-300: oklch($color-blue-300-l,$color-blue-300-c,$color-blue-300-h);
$color-blue-400: oklch($color-blue-400-l,$color-blue-400-c,$color-blue-400-h);
$color-blue-500: oklch($color-blue-500-l,$color-blue-500-c,$color-blue-500-h);
$color-blue-600: oklch($color-blue-600-l,$color-blue-600-c,$color-blue-600-h);
$color-blue-700: oklch($color-blue-700-l,$color-blue-700-c,$color-blue-700-h);
$color-blue-800: oklch($color-blue-800-l,$color-blue-800-c,$color-blue-800-h);
$color-blue-900: oklch($color-blue-900-l,$color-blue-900-c,$color-blue-900-h);
$color-blue-950: oklch($color-blue-950-l,$color-blue-950-c,$color-blue-950-h);
$color-indigo-50: oklch($color-indigo-50-l,$color-indigo-50-c,$color-indigo-50-h);
$color-indigo-100: oklch($color-indigo-100-l,$color-indigo-100-c,$color-indigo-100-h);
$color-indigo-200: oklch($color-indigo-200-l,$color-indigo-200-c,$color-indigo-200-h);
$color-indigo-300: oklch($color-indigo-300-l,$color-indigo-300-c,$color-indigo-300-h);
$color-indigo-400: oklch($color-indigo-400-l,$color-indigo-400-c,$color-indigo-400-h);
$color-indigo-500: oklch($color-indigo-500-l,$color-indigo-500-c,$color-indigo-500-h);
$color-indigo-600: oklch($color-indigo-600-l,$color-indigo-600-c,$color-indigo-600-h);
$color-indigo-700: oklch($color-indigo-700-l,$color-indigo-700-c,$color-indigo-700-h);
$color-indigo-800: oklch($color-indigo-800-l,$color-indigo-800-c,$color-indigo-800-h);
$color-indigo-900: oklch($color-indigo-900-l,$color-indigo-900-c,$color-indigo-900-h);
$color-indigo-950: oklch($color-indigo-950-l,$color-indigo-950-c,$color-indigo-950-h);
$color-violet-50: oklch($color-violet-50-l,$color-violet-50-c,$color-violet-50-h);
$color-violet-100: oklch($color-violet-100-l,$color-violet-100-c,$color-violet-100-h);
$color-violet-200: oklch($color-violet-200-l,$color-violet-200-c,$color-violet-200-h);
$color-violet-300: oklch($color-violet-300-l,$color-violet-300-c,$color-violet-300-h);
$color-violet-400: oklch($color-violet-400-l,$color-violet-400-c,$color-violet-400-h);
$color-violet-500: oklch($color-violet-500-l,$color-violet-500-c,$color-violet-500-h);
$color-violet-600: oklch($color-violet-600-l,$color-violet-600-c,$color-violet-600-h);
$color-violet-700: oklch($color-violet-700-l,$color-violet-700-c,$color-violet-700-h);
$color-violet-800: oklch($color-violet-800-l,$color-violet-800-c,$color-violet-800-h);
$color-violet-900: oklch($color-violet-900-l,$color-violet-900-c,$color-violet-900-h);
$color-violet-950: oklch($color-violet-950-l,$color-violet-950-c,$color-violet-950-h);
$color-purple-50: oklch($color-purple-50-l,$color-purple-50-c,$color-purple-50-h);
$color-purple-100: oklch($color-purple-100-l,$color-purple-100-c,$color-purple-100-h);
$color-purple-200: oklch($color-purple-200-l,$color-purple-200-c,$color-purple-200-h);
$color-purple-300: oklch($color-purple-300-l,$color-purple-300-c,$color-purple-300-h);
$color-purple-400: oklch($color-purple-400-l,$color-purple-400-c,$color-purple-400-h);
$color-purple-500: oklch($color-purple-500-l,$color-purple-500-c,$color-purple-500-h);
$color-purple-600: oklch($color-purple-600-l,$color-purple-600-c,$color-purple-600-h);
$color-purple-700: oklch($color-purple-700-l,$color-purple-700-c,$color-purple-700-h);
$color-purple-800: oklch($color-purple-800-l,$color-purple-800-c,$color-purple-800-h);
$color-purple-900: oklch($color-purple-900-l,$color-purple-900-c,$color-purple-900-h);
$color-purple-950: oklch($color-purple-950-l,$color-purple-950-c,$color-purple-950-h);
$color-fuchsia-50: oklch($color-fuchsia-50-l,$color-fuchsia-50-c,$color-fuchsia-50-h);
$color-fuchsia-100: oklch($color-fuchsia-100-l,$color-fuchsia-100-c,$color-fuchsia-100-h);
$color-fuchsia-200: oklch($color-fuchsia-200-l,$color-fuchsia-200-c,$color-fuchsia-200-h);
$color-fuchsia-300: oklch($color-fuchsia-300-l,$color-fuchsia-300-c,$color-fuchsia-300-h);
$color-fuchsia-400: oklch($color-fuchsia-400-l,$color-fuchsia-400-c,$color-fuchsia-400-h);
$color-fuchsia-500: oklch($color-fuchsia-500-l,$color-fuchsia-500-c,$color-fuchsia-500-h);
$color-fuchsia-600: oklch($color-fuchsia-600-l,$color-fuchsia-600-c,$color-fuchsia-600-h);
$color-fuchsia-700: oklch($color-fuchsia-700-l,$color-fuchsia-700-c,$color-fuchsia-700-h);
$color-fuchsia-800: oklch($color-fuchsia-800-l,$color-fuchsia-800-c,$color-fuchsia-800-h);
$color-fuchsia-900: oklch($color-fuchsia-900-l,$color-fuchsia-900-c,$color-fuchsia-900-h);
$color-fuchsia-950: oklch($color-fuchsia-950-l,$color-fuchsia-950-c,$color-fuchsia-950-h);
$color-pink-50: oklch($color-pink-50-l,$color-pink-50-c,$color-pink-50-h);
$color-pink-100: oklch($color-pink-100-l,$color-pink-100-c,$color-pink-100-h);
$color-pink-200: oklch($color-pink-200-l,$color-pink-200-c,$color-pink-200-h);
$color-pink-300: oklch($color-pink-300-l,$color-pink-300-c,$color-pink-300-h);
$color-pink-400: oklch($color-pink-400-l,$color-pink-400-c,$color-pink-400-h);
$color-pink-500: oklch($color-pink-500-l,$color-pink-500-c,$color-pink-500-h);
$color-pink-600: oklch($color-pink-600-l,$color-pink-600-c,$color-pink-600-h);
$color-pink-700: oklch($color-pink-700-l,$color-pink-700-c,$color-pink-700-h);
$color-pink-800: oklch($color-pink-800-l,$color-pink-800-c,$color-pink-800-h);
$color-pink-900: oklch($color-pink-900-l,$color-pink-900-c,$color-pink-900-h);
$color-pink-950: oklch($color-pink-950-l,$color-pink-950-c,$color-pink-950-h);
$color-rose-50: oklch($color-rose-50-l,$color-rose-50-c,$color-rose-50-h);
$color-rose-100: oklch($color-rose-100-l,$color-rose-100-c,$color-rose-100-h);
$color-rose-200: oklch($color-rose-200-l,$color-rose-200-c,$color-rose-200-h);
$color-rose-300: oklch($color-rose-300-l,$color-rose-300-c,$color-rose-300-h);
$color-rose-400: oklch($color-rose-400-l,$color-rose-400-c,$color-rose-400-h);
$color-rose-500: oklch($color-rose-500-l,$color-rose-500-c,$color-rose-500-h);
$color-rose-600: oklch($color-rose-600-l,$color-rose-600-c,$color-rose-600-h);
$color-rose-700: oklch($color-rose-700-l,$color-rose-700-c,$color-rose-700-h);
$color-rose-800: oklch($color-rose-800-l,$color-rose-800-c,$color-rose-800-h);
$color-rose-900: oklch($color-rose-900-l,$color-rose-900-c,$color-rose-900-h);
$color-rose-950: oklch($color-rose-950-l,$color-rose-950-c,$color-rose-950-h);
$color-slate-50: oklch($color-slate-50-l,$color-slate-50-c,$color-slate-50-h);
$color-slate-100: oklch($color-slate-100-l,$color-slate-100-c,$color-slate-100-h);
$color-slate-200: oklch($color-slate-200-l,$color-slate-200-c,$color-slate-200-h);
$color-slate-300: oklch($color-slate-300-l,$color-slate-300-c,$color-slate-300-h);
$color-slate-400: oklch($color-slate-400-l,$color-slate-400-c,$color-slate-400-h);
$color-slate-500: oklch($color-slate-500-l,$color-slate-500-c,$color-slate-500-h);
$color-slate-600: oklch($color-slate-600-l,$color-slate-600-c,$color-slate-600-h);
$color-slate-700: oklch($color-slate-700-l,$color-slate-700-c,$color-slate-700-h);
$color-slate-800: oklch($color-slate-800-l,$color-slate-800-c,$color-slate-800-h);
$color-slate-900: oklch($color-slate-900-l,$color-slate-900-c,$color-slate-900-h);
$color-slate-950: oklch($color-slate-950-l,$color-slate-950-c,$color-slate-950-h);
$color-gray-50: oklch($color-gray-50-l,$color-gray-50-c,$color-gray-50-h);
$color-gray-100: oklch($color-gray-100-l,$color-gray-100-c,$color-gray-100-h);
$color-gray-200: oklch($color-gray-200-l,$color-gray-200-c,$color-gray-200-h);
$color-gray-300: oklch($color-gray-300-l,$color-gray-300-c,$color-gray-300-h);
$color-gray-400: oklch($color-gray-400-l,$color-gray-400-c,$color-gray-400-h);
$color-gray-500: oklch($color-gray-500-l,$color-gray-500-c,$color-gray-500-h);
$color-gray-600: oklch($color-gray-600-l,$color-gray-600-c,$color-gray-600-h);
$color-gray-700: oklch($color-gray-700-l,$color-gray-700-c,$color-gray-700-h);
$color-gray-800: oklch($color-gray-800-l,$color-gray-800-c,$color-gray-800-h);
$color-gray-900: oklch($color-gray-900-l,$color-gray-900-c,$color-gray-900-h);
$color-gray-950: oklch($color-gray-950-l,$color-gray-950-c,$color-gray-950-h);
$color-zinc-50: oklch($color-zinc-50-l,$color-zinc-50-c,$color-zinc-50-h);
$color-zinc-100: oklch($color-zinc-100-l,$color-zinc-100-c,$color-zinc-100-h);
$color-zinc-200: oklch($color-zinc-200-l,$color-zinc-200-c,$color-zinc-200-h);
$color-zinc-300: oklch($color-zinc-300-l,$color-zinc-300-c,$color-zinc-300-h);
$color-zinc-400: oklch($color-zinc-400-l,$color-zinc-400-c,$color-zinc-400-h);
$color-zinc-500: oklch($color-zinc-500-l,$color-zinc-500-c,$color-zinc-500-h);
$color-zinc-600: oklch($color-zinc-600-l,$color-zinc-600-c,$color-zinc-600-h);
$color-zinc-700: oklch($color-zinc-700-l,$color-zinc-700-c,$color-zinc-700-h);
$color-zinc-800: oklch($color-zinc-800-l,$color-zinc-800-c,$color-zinc-800-h);
$color-zinc-900: oklch($color-zinc-900-l,$color-zinc-900-c,$color-zinc-900-h);
$color-zinc-950: oklch($color-zinc-950-l,$color-zinc-950-c,$color-zinc-950-h);
$color-neutral-50: oklch($color-neutral-50-l,$color-neutral-50-c,$color-neutral-50-h);
$color-neutral-100: oklch($color-neutral-100-l,$color-neutral-100-c,$color-neutral-100-h);
$color-neutral-200: oklch($color-neutral-200-l,$color-neutral-200-c,$color-neutral-200-h);
$color-neutral-300: oklch($color-neutral-300-l,$color-neutral-300-c,$color-neutral-300-h);
$color-neutral-400: oklch($color-neutral-400-l,$color-neutral-400-c,$color-neutral-400-h);
$color-neutral-500: oklch($color-neutral-500-l,$color-neutral-500-c,$color-neutral-500-h);
$color-neutral-600: oklch($color-neutral-600-l,$color-neutral-600-c,$color-neutral-600-h);
$color-neutral-700: oklch($color-neutral-700-l,$color-neutral-700-c,$color-neutral-700-h);
$color-neutral-800: oklch($color-neutral-800-l,$color-neutral-800-c,$color-neutral-800-h);
$color-neutral-900: oklch($color-neutral-900-l,$color-neutral-900-c,$color-neutral-900-h);
$color-neutral-950: oklch($color-neutral-950-l,$color-neutral-950-c,$color-neutral-950-h);
$color-stone-50: oklch($color-stone-50-l,$color-stone-50-c,$color-stone-50-h);
$color-stone-100: oklch($color-stone-100-l,$color-stone-100-c,$color-stone-100-h);
$color-stone-200: oklch($color-stone-200-l,$color-stone-200-c,$color-stone-200-h);
$color-stone-300: oklch($color-stone-300-l,$color-stone-300-c,$color-stone-300-h);
$color-stone-400: oklch($color-stone-400-l,$color-stone-400-c,$color-stone-400-h);
$color-stone-500: oklch($color-stone-500-l,$color-stone-500-c,$color-stone-500-h);
$color-stone-600: oklch($color-stone-600-l,$color-stone-600-c,$color-stone-600-h);
$color-stone-700: oklch($color-stone-700-l,$color-stone-700-c,$color-stone-700-h);
$color-stone-800: oklch($color-stone-800-l,$color-stone-800-c,$color-stone-800-h);
$color-stone-900: oklch($color-stone-900-l,$color-stone-900-c,$color-stone-900-h);
$color-stone-950: oklch($color-stone-950-l,$color-stone-950-c,$color-stone-950-h);
